<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Automation OCR</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('web.index') }}">Ana Sayfa</a></li>
                <li><a href="https://storage.googleapis.com/bau-capstone-bucket/data/website_datas">Dosya Yükle</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>