<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Automation OCR</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('web.index') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('web.upload_file') }}">Dosya Yükle</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Burada Flash mesajlarını göstermek için -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>