name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main  # Ana branch için çalışır

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_KEY }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT }}

    - name: Deploy to Google Cloud Storage
      run: |
        gsutil rsync -r ./ gs://bau-capstone-bucket
